{% for job in curiculum.job %}
	{% if job.active %}
		<div class="col-4">
			<div class="h5 text-center bg-dark mb-0 p-2">
				<a href="#" class="ml-1 jq-dell-job" id="{{job.id}}" style="position:absolute; top:0px; right:21px;">
					<i class="fas fa-times text-danger"></i>
				</a>
				{# <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter" style="position:absolute; top:0px; right:15px;">
				  				<i class="fas fa-times text-danger"></i>
							</button> #}
				<div class="mt-4">
					{{job.descr}}
				</div>
				{% if job.societyName %}
					<small class="text-muted">{{job.societyName}}</small>
				{% endif %}
				{% if job.jobCity %}

					<small class="text-muted">{{job.jobCity}}</small>
				{% endif %}
			</div>
			<div class="bg-secondary p-3">
				<div>
					<input type="text" id="input-job-detail-{{job.id}}" placeholder="Entrez un détail">
					<a href="" class="jq-add-detail-job" data-idjob="{{job.id}}">
						<i class="fas fa-plus-circle btn text-success" style="font-size:1.5rem;"></i>
					</a>
				</div>
				{% for detail in job.details %}
					<div class="w-100 border-bottom border-dark">
						<div class="color-success mr-2 bg-secondary border-secondary text-white" style="font-size:1rem;">{{detail.detail}}
							<a href="#" class="ml-2">
								<i class="fas fa-trash-alt text-danger jq-dell-detail-job" data-idjobdetail="{{detail.id}}" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endfor %}
